.content {
  display: flex;
}

.buttonFull {
  width: 100%;
  padding: 0;
  border-radius: 2px;
  text-align: left;

  & > * {
    width: 100%;
  }
}

.card > * {
  padding: 16px !important;
}

.avatar {
  font-size: 12px !important;
  font-weight: 600 !important;
  width: 56px !important;
  height: 56px !important;
}

ul.list {
  list-style: none;
  padding: 64px;
  margin: auto;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
  }

  & > li {
    width: 480px;
    margin: 8px 0;
  }
}

.card {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.cover {
  width: 151px;
  height: 151px;
}

.controls {
  display: flex;
  align-items: center;
}

.playIcon {
  height: 38px;
  width: 38px;
}
