.content {
  display: block;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.configurator {
  display: block;
  width: 320px;
  margin: 72px 0 0 8px;
}

.list {
  background: white;
  pointer-events: initial;
}

.listElement {
  padding-left: 8px !important;
}

.label {
  padding-left: 4px !important;
}
